<!doctype html>
<html>
<head>
<title>SignIn</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
        <style>
            body        { padding-top:70px; }
        </style>
    </head>
    <body>
    <div class="container">
        <div class="jumbotron text-center text-primary">
            <h1><span class="fa fa-lock"></span> This is the home page</h1>
            <br/>
                <h4><a href="/login">Login Screen</a></h4><br/>
                <h4><a href="/success">Profile Page</a></h4><br/>
        </div>
    </div>
    </body>
</html>